<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" id="" class="">
    <link href="http://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">

</head>

<body>
    <div class="container-fluid first-block">
        <div class="row mb-5"></div>
        <div class="row mt-3">
            <div class="col-3 offset-1">
                <img src="./images/Logo.svg" alt="logo">
            </div>
            <div class="col-4 d-flex justify-content-around">
                <a class='anchor-text' href="">HOME</a>
                <p>|</p>
                <a class='anchor-text' href="">ABOUT</a>
                <p>|</p>
                <a class='anchor-text' href="">SERVICES</a>
                <p>|</p>
                <a class='anchor-text' href="">CONTACT</a>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <button type="button" class="btn btn-outline-none">UA</button>
                |
                <button type="button" class="btn btn-outline-none">EN</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-5 offset-1">
                <h1 class="text-title-black m-top-15r">Innovative technologies <br> and software
                    for <span class="gradient-text">business</span> </h1>
                <p class="under-title-text">
                    Software opens up new possibilities, exploiting the advances of new technologies with real ones,
                    simultaneously expanding the possibilities
                    like no other company.
                </p>
                <button class="write-btn">
                    Write
                </button>
            </div>
            <div class="col-5">
                <img src="./images/BigPurple.svg" alt="big-purple">
            </div>
        </div>
    </div>
    <div class="container-fluid second-block">
        <div class="row">
            <div class="col-12  mt-5 d-flex justify-content-center align-items-center">
                <h2 class="white-title mt-5">
                    Resident
                </h2>
                <img class='diya-image mt-5' src="./images/diya.svg" alt="big-purple">
            </div>
        </div>
    </div>    
    <div class="container-fluid third-block">
        <div class="row mt-5">
            <div class="col-11 offset-1 mt-5">
                <h2 class="white-title">
                    About iC
                </h2>
            </div>
            <div class="col-11 offset-1">
                <p class="white-text">
                    itContinental is a reliable partner in the field of innovative technologies. 
                    The company's product portfolio <br> includes the latest solutions and software 
                    from global manufacturers, the vast majority of which come from  <br> the countries 
                    of the European Union and the United States of America, as well as own developments.
                </p>
            </div>
            <div class="col-11  offset-1">
                <p class="grey-text">
                    The main areas of activity are the implementation of software for IT services, 
                    technical support of critical <br>business systems and infrastructure, and 
                    other specialized services. Clients are enterprises of key sectors of <br>
                    the economy, such as the financial sector, energy, metallurgy, retail 
                    and others. 
                </p>
            </div>
            <div class="col-11  offset-1">
                <p class="grey-text">
                    The company, together with partners, provides organizations with access 
                    to the latest global developments <br> and technologies, accelerates the 
                    digital transformation of enterprises.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid block-4">
        <div class="row d-flex justify-content-center align-items-center">
            <h2 class="col-12 m-top-8r white-title">Convenience</h2>
        </div>
    </div>
    <div class="container-fluid fith-block">
        <div class="row">
            <div class="col-11 offset-1 ">
                <h1 class="text-title-black mt-5 ">Technologies</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-10 offset-1 d-flex justify-content-around">
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Virtualization
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Dev-Ops
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Cloud Migrations
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Agri Tech
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-10 offset-1 d-flex justify-content-around">
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Fin Tech
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Deep Tech
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        App Optimize
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Cloud Platform
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-10 offset-1 d-flex justify-content-around">
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Automation Software
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Internet Things
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Data Ops
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Ai
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid six-block">
        <div class="row">
            <div class="col-12 m-top-8r d-flex justify-content-around align-items-center">
                <div class="custom-digit-block flex-column d-flex justify-content-center">
                    <h2 class="digits-title">100+</h2>
                    <h4 class="under-digits-title">
                        Experience
                    </h4>
                    <p class="small-white-text">
                        The team in this field has more than 100<br> projects under its belt
                    </p>
                </div>
                <div class="custom-digit-block">
                    <h2 class="digits-title">11<sup class="sup-text">10</sup></h2>
                    <h4 class="under-digits-title">Сonsistency</h4>
                    <p class="small-white-text">
                        Everything is organized<br> and works like clockwork
                    </p>
                </div>
                <div class="custom-digit-block">
                    <h2 class="digits-title">201%</h2>
                    <h4 class="under-digits-title">Scrupulousness</h4>
                    <p class="small-white-text">
                        They will do everything for the<br>success of the joint project
                    </p>
                </div>
            </div>
        </div>
    </div>    
    <div class="container-fluid seventh-block">
        <div class="row">
            <div class="col-10 offset-1 m-left-10r">
                <h2 class="white-title mt-5">Solutions</h2>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-10 offset-1 d-flex justify-content-around">
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Virtualization
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Dev-Ops
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Cloud Migrations
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Agri Tech
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-10 offset-1 d-flex justify-content-around">
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Fin Tech
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Deep Tech
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        App Optimize
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Cloud Platform
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-10 offset-1 d-flex justify-content-around">
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Automation Software
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Internet Things
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Data Ops
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Ai
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid eigth-block">
        <h1 class="text-title-black m-top-15r">Industries</h1>
        <div class="row mt-5">
            <div class="col-4">
                <p class="industries-text">
                    FINANCIAL
                </p>
            </div>
            <div class="col-4">
                <p class="industries-text">
                    HEALTHCARE
                </p>
            </div>
            <div class="col-4">
                <p class="industries-text">
                    TECHNOLOGY
                </p>
            </div>
            <div class="col-4">
                <p class="industries-text">
                    RETAIL
                </p>
            </div>
            <div class="col-4">
                <p class="industries-text">
                    TELECOM
                </p>
            </div>
            <div class="col-4">
                <p class="industries-text">
                    MANUFACTURING
                </p>
            </div>
        </div>
    </div>
</body>

</html>