<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" id="" class="">
    <link href="http://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gilroy&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="application/xhtml+xml">
</head>

<body>
    <div class="container-fluid first-block rounded-bottom">
        <div class="row mb-5"></div>
        <div class="row mt-3">
            <div class="col-3 offset-1">
                <img src="./images/Logo.svg" class="header-logo" alt="logo">
            </div>
            <div class="col-4 d-flex navigation-block">
                <a class='anchor-text text-dark mb-d-none' href="">HOME</a>
                <p class='mb-d-none'>|</p>
                <a class='opacity-03 anchor-text text-dark mb-d-none' href="">ABOUT</a>
                <p class='mb-d-none'>|</p>
                <a class=' opacity-03 anchor-text text-dark mb-d-none' href="">SERVICES</a>
                <p class='mb-d-none'>|</p>
                <a class=' opacity-03 anchor-text text-dark mb-d-none' href="">CONTACT</a>
            </div>
            <div class="col-3 d-flex justify-content-end mb-d-none">
                <button type="button" class="btn btn-outline-none mb-d-none">UA</button>
                <button class="button-between-ua-en mb-d-none" disabled>|</button>
                <button type="button" class="btn btn-outline-none mb-d-none">EN</button>
            </div>
        </div>
        <div class="row mt-5 mb-d-none">
            <div class="col-5 offset-1">
                <h1 class="text-title-black m-top-15r">Innovative technologies <br> and software
                    for <span class="gradient-text">business</span> </h1>
                <p class="under-title-text">
                    Software opens up new possibilities, exploiting the advances of new technologies with<br> real ones,
                    simultaneously expanding the possibilities<br>
                    like no other company.
                </p>
                <button class="write-btn">
                    Write
                </button>
            </div>
            <div class="col-5 mb-d-none">
                <img src="./images/BigPurple.svg" alt="big-purple">
            </div>
        </div>
        <div class="row mt-5 mb-l-none">
            <div class="col-sm-8 offset-1">
                <h1 class="text-title-black mt-5">Innovative technologies <br> and software
                    for <span class="gradient-text">business</span> </h1>
                <p class="under-title-text">
                    Software opens up new possibilities,<br>
                    exploiting the advances of new<br>
                    technologies with real ones,
                    simultaneously<br> expanding the possibilities<br>
                    like no other company.
                </p>
                <button class="write-btn m-top-10r">
                    <p class="write-btn-text">Write</p>
                </button>
            </div>
            <div class="col-5 mb-d-none">
                <img src="./images/BigPurple.svg" alt="big-purple">
                <img src="./images/first-block-arrows.svg" class="arrows" alt="big-purple">
            </div>
        </div>
    </div>
    <div class="container-fluid second-block rounded-bottom">
        <div class="row">
            <div class="col-12  mt-5 d-flex justify-content-center align-items-center">
                <h2 class="white-title white-title-mobile mt-5">
                    Resident
                </h2>
                <img class='diya-image mt-5' src="./images/diya.svg" alt="big-purple">
            </div>
        </div>
    </div>
    <div class="container-fluid third-block rounded mb-d-none">
        <div class="row mt-5">
            <div class="col-11 offset-1 mt-5">
                <h2 class="white-title" style="margin-top: revert!important;">
                    About iC
                </h2>
            </div>
            <div class="col-11 offset-1">
                <p class="white-text" style="margin-top: revert!important;">
                    itContinental is a reliable partner in the field of innovative technologies.
                    The company's product portfolio <br> includes the latest solutions and software
                    from global manufacturers, the vast majority of which come from <br> the countries
                    of the European Union and the United States of America, as well as own developments.
                </p>
            </div>
            <div class="col-11  offset-1">
                <p class="grey-text" style="margin-top: revert!important;">
                    The main areas of activity are the implementation of software for IT services,
                    technical support of critical <br>business systems and infrastructure, and
                    other specialized services. Clients are enterprises of key sectors of <br>
                    the economy, such as the financial sector, energy, metallurgy, retail
                    and others.
                </p>
            </div>
            <div class="col-11  offset-1">
                <p class="grey-text" style="margin-top: revert!important;">
                    The company, together with partners, provides organizations with access
                    to the latest global developments <br> and technologies, accelerates the
                    digital transformation of enterprises.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid third-block rounded mb-l-none">
        <div class="row">
            <div class="col-11 offset-1">
                <h2 class="white-title" style="margin-top: revert!important;">
                    About iC
                </h2>
            </div>
            <div class="col-11 offset-1">
                <p class="white-text" style="margin-top: revert!important;">
                    itContinental is a reliable partner in the field of<br>innovative technologies.
                    The company's product <br>portfolio  includes the latest solutions and software<br>
                    from global manufacturers, the vast majority of which<br> come from the countries
                    of the European Union and<br> the United States of America, as well as own<br> developments.
                </p>
            </div>
            <div class="col-11  offset-1">
                <p class="grey-text" style="margin-top: revert!important;">
                    The main areas of activity are the implementation of<br> 
                    software for IT services, technical support of critical <br>
                    business systems and infrastructure, and
                    other<br> specialized services. Clients are enterprises of key<br>  sectors of 
                    the economy, such as the financial sector, <br> energy, metallurgy, retail
                    and others.
                </p>
            </div>
            <div class="col-11  offset-1">
                <p class="grey-text" style="margin-top: revert!important;">
                    The company, together with partners, provides<br>  organizations with access
                    to the latest global<br>  developments and technologies, accelerates the<br> 
                    digital transformation of enterprises.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid block-4 rounded">

        <div class="convenience-h3">
            <h3 class="convenience-h3-text">Convenience</h3>
        </div>

        <div class="cards-block-convenience-1 mt-5 row">
            <div class="card col-sm-6">
                <img class="position-absolute translate-middle images-block-convenience"
                    src="images/convenience-first-img.svg" alt="Icon">
                <h3 class="h3-convenience">The best IT solutions and technologies</h3>
                <p class="p-card-convenience">
                    iC chooses the best global IT solutions for you, constantly following global trends in innovative
                    technologies.
                </p>
            </div>

            <div class="card card col-sm-6">
                <img class="position-absolute translate-middle images-block-convenience"
                    src="images/convenience-img2.svg" alt="Icon">
                <h3 class="h3-convenience">Professional level of specialists</h3>
                <p class="p-card-convenience">
                    stay in your comfort zone during testing and implementation, their team will do their part
                    perfectly.
                </p>
            </div>

            <div class="card">
                <img class="position-absolute translate-middle images-block-convenience"
                    src="images/convenience-third-img.svg" alt="Icon">
                <h3 class="h3-convenience">Effective technical support</h3>
                <p class="p-card-convenience">
                    be sure that in the event of an appeal, the company's specialists will help solve the case as
                    quickly
                    and as best as possible.
                </p>
            </div>
            <!-- cards-block-convenience-2 -->
            <div class="cards-block-convenience-2 mt-4">
                <div class="card">
                    <img class="position-absolute translate-middle images-block-convenience"
                        src="images/convenience-four-img.svg" alt="Icon">
                    <h3 class="h3-convenience">Сonvenience of communication</h3>
                    <p class="p-card-convenience2">
                        they are online and always welcome your messages through all convenient and available channels
                        of
                        communication with them and the vendor.
                    </p>
                </div>

                <div class="card">
                    <img class="position-absolute translate-middle images-block-convenience"
                        src="images/convenience-five-img.svg" alt="Icon">
                    <h3 class="h3-convenience">More benefits than in the contract</h3>
                    <p class="p-card-convenience2">
                        the company always has additional bonuses, free services and much more in store for its
                        customers.
                    </p>
                </div>

                <div class="card">
                    <img class="position-absolute translate-middle images-block-convenience"
                        src="images/convenience-img-six.svg" alt="Icon">
                    <h3 class="h3-convenience-last-card">The best cooperation experience</h3>
                    <p class="p-card-convenience2">
                        the main goal of iC is the client's satisfaction with cooperation and benefit from the IT
                        solution.
                        They achieve it in every project.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid fith-block mb-d-none">
        <div class="row">
            <div class="col-11 offset-1 ">
                <h1 class="text-title-black mt-5 " style="top: 124rem;">Technologies</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-10 offset-1 d-flex justify-content-around">
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Virtualization
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Dev-Ops
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Cloud Migrations
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Agri Tech
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-10 offset-1 d-flex justify-content-around">
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Fin Tech
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Deep Tech
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        App Optimize
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Cloud Platform
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-10 offset-1 d-flex justify-content-around">
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Automation Software
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Internet Things
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Data Ops
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Ai
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid fith-block mb-l-none">
        <!-- <div class="row">
            <div class="col-11 offset-1 ">
                <h1 class="text-title-black mt-5 " style="top: 124rem;">Technologies</h1>
            </div>
        </div>
        <div class="d-flex tech-m row-tech-m" 
            style="justify-content: space-evenly;">
                <div class="purple-block-mobile">
                    <p class="white-text purple-block-text">
                        Virtualization
                    </p>
                </div>
                <div class="purple-block-mobile">
                    <p class="white-text purple-block-text">
                        Dev-Ops
                    </p>
                </div>
        </div>
        <div class="d-flex mt-3" 
            style="justify-content: space-evenly;">
                <div class="purple-block-mobile">
                    <p class="white-text purple-block-text">
                        Cloud Migrations
                    </p>
                </div>
                <div class="purple-block-mobile">
                    <p class="white-text purple-block-text">
                        Agri Tech
                    </p>
                </div>
        </div>
        <div class="d-flex mt-3" 
            style="justify-content: space-evenly;">
                <div class="purple-block-mobile">
                    <p class="white-text purple-block-text">
                        Fin Tech
                    </p>
                </div>
                <div class="purple-block-mobile">
                    <p class="white-text purple-block-text">
                        Deep Tech
                    </p>
                </div>
        </div>
        <div class="d-flex mt-3" 
            style="justify-content: space-evenly;">
                <div class="purple-block-mobile">
                    <p class="white-text purple-block-text">
                        App Optimize
                    </p>
                </div>
                <div class="purple-block-mobile">
                    <p class="white-text purple-block-text">
                        Cloud Platform
                    </p>
                </div>
        </div>
        <div class="d-flex mt-3" 
            style="justify-content: space-evenly;">
                <div class="purple-block-mobile">
                    <p class="white-text purple-block-text">
                        Automation Software
                    </p>
                </div>
                <div class="purple-block-mobile">
                    <p class="white-text purple-block-text">
                        Internet Things
                    </p>
                </div>
        </div>
        <div class="d-flex mt-3" 
            style="justify-content: space-evenly;">
                <div class="purple-block-mobile">
                    <p class="white-text purple-block-text">
                        Data Ops
                    </p>
                </div>
                <div class="purple-block-mobile">
                    <p class="white-text purple-block-text">
                        Ai
                    </p>
                </div>
        </div> -->
    </div>
    <div class="container-fluid six-block mb-d-none">
        <div class="row">
            <div class="col-12 m-top-8r d-flex justify-content-around align-items-center">
                <div class="custom-digit-block flex-column d-flex justify-content-center">
                    <h2 class="digits-title text-center">100+</h2>
                    <h4 class="under-digits-title text-center">
                        Experience
                    </h4>
                    <p class="small-white-text text-center">
                        The team in this field has more than 100<br> projects under its belt
                    </p>
                </div>
                <div class="custom-digit-block text-center">
                    <h2 class="digits-title">11<sup class="sup-text">10</sup></h2>
                    <h4 class="under-digits-title ">Сonsistency</h4>
                    <p class="small-white-text">
                        Everything is organized<br> and works like clockwork
                    </p>
                </div>
                <div class="custom-digit-block text-center">
                    <h2 class="digits-title">201%</h2>
                    <h4 class="under-digits-title ">Scrupulousness</h4>
                    <p class="small-white-text">
                        They will do everything for the<br>success of the joint project
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid six-block mb-l-none"></div>
    <div class="container-fluid seventh-block mb-d-none">
        <div class="row">
            <div class="col-10 offset-1 m-left-10r">
                <h2 class="white-title mt-5">Solutions</h2>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-10 offset-1 d-flex justify-content-around">
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Virtualization
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Dev-Ops
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Cloud Migrations
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Agri Tech
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-10 offset-1 d-flex justify-content-around">
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Fin Tech
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Deep Tech
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        App Optimize
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Cloud Platform
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-10 offset-1 d-flex justify-content-around">
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Automation Software
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Internet Things
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Data Ops
                    </p>
                </div>
                <div class="purple-block">
                    <p class="white-text purple-block-text">
                        Ai
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid seventh-block mb-l-none">
        <div class="row">
            <div class="col-11 offset-1 ">
                <h1 class="white-title  mt-5 " style="top: 194rem;">Solutions</h1>
            </div>
        </div>
        <div class="d-flex tech-m row-tech-m" 
            style="justify-content: space-evenly;">
                <div class="purple-block-mobile tech-m-block-1">
                    <p class="white-text purple-block-text">
                        Data Migration
                    </p>
                </div>
                <div class="purple-block-mobile tech-m-block-2">
                    <p class="white-text purple-block-text">
                        Data Masking
                    </p>
                </div>
        </div>
        <div class="d-flex mt-3" 
            style="justify-content: space-evenly;">
                <div class="purple-block-mobile tech-m-block-3">
                    <p class="white-text purple-block-text">
                        Data Governance
                    </p>
                </div>
                <div class="purple-block-mobile tech-m-block-4">
                    <p class="white-text purple-block-text">
                        Data Fabric
                    </p>
                </div>
        </div>
        <div class="d-flex mt-3" 
            style="justify-content: space-evenly;">
                <div class="purple-block-mobile tech-m-block-5">
                    <p class="white-text purple-block-text">
                        Data Integration
                    </p>
                </div>
                <div class="purple-block-mobile tech-m-block-6">
                    <p class="white-text purple-block-text">
                        DB Operations
                    </p>
                </div>
        </div>
        <div class="d-flex mt-3" 
            style="justify-content: space-evenly;">
                <div class="purple-block-mobile tech-m-block-7">
                    <p class="white-text purple-block-text">
                        Big Data
                    </p>
                </div>
                <div class="purple-block-mobile tech-m-block-8">
                    <p class="white-text purple-block-text">
                        Data Catalog
                    </p>
                </div>
        </div>
        <div class="d-flex mt-3" 
            style="justify-content: space-evenly;">
                <div class="purple-block-mobile tech-m-block-9">
                    <p class="white-text purple-block-text">
                        Metadata & MDM
                    </p>
                </div>
                <div class="purple-block-mobile tech-m-block-10">
                    <p class="white-text purple-block-text">
                        BI, Analytics
                    </p>
                </div>
        </div>
        <div class="d-flex mt-3" 
            style="justify-content: space-evenly;">
                <div class="purple-block-mobile tech-m-block-11">
                    <p class="white-text purple-block-text">
                        Data Transformation
                    </p>
                </div>
                <div class="purple-block-mobile tech-m-block-12">
                    <p class="white-text purple-block-text">
                        Test Data
                    </p>
                </div>
        </div>
    </div>
    <div class="container-fluid eigth-block mb-d-none">
        <h1 class="white-title m-top-15r pd-top-7r pd-bot-4r d-flex justify-content-center">Industries</h1>
        <div class="row mt-5 justify-content-center">
            <div class="col-4 industries-block">
                <p class="industries-text">
                    FINANCIAL
                </p>
            </div>
            <div class="col-4 industries-block">
                <p class="industries-text">
                    HEALTHCARE
                </p>
            </div>
            <div class="col-4 industries-block">
                <p class="industries-text">
                    TECHNOLOGY
                </p>
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-4 industries-block">
                <p class="industries-text">
                    RETAIL
                </p>
            </div>
            <div class="col-4 industries-block">
                <p class="industries-text">
                    TELECOM
                </p>
            </div>
            <div class="col-4 industries-block">
                <p class="industries-text">
                    MANUFACTURING
                </p>
            </div>
        </div>
        <div class="external-blur  m-top-10r  pd-top-10r">

            <div class="row">
                <div class="col-2 offset-8  d-flex justify-content-center">
                    <h4 class="under-digits-title">
                        Write
                    </h4>
                </div>
            </div>
            <div class="row d-flex justify-space-around m-bot-10r ">
                <div class="col-6  justify-content-center d-flex">
                    <img class="" src="images/footer-big-logo.svg" width="473" height="190" alt="">
                </div>
                <div class="col-4 offset-1">
                    <div class="container d-flex flex-column input-block">

                        <input type="email" size="38" class="mb-3 pretify-input" placeholder="Email" id="email">
                        <textarea rows="3" cols="41" class="pretify-input" placeholder="Guide text" id="guide"></textarea>
                        <div class="row  justify-content-center d-flex">
                            <button onclick="handleForm()" type="reset" class="pretify-button">Send</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row d-flex ">
                <div class="col-3 offset-2" style="margin-top: -3px;">
                    <img class="copyright-image" src="images/copyright.svg" alt="">
                </div>
                <div class="col-1 d-flex" style="margin-top: 2px;">
                    <img class="copyright-image" src="images/mdi_email.svg" alt="">
                    <a href="mailto:info@itcontinental.pro" class="small-text pretify-link m-left-1r"
                        style="margin-top: 5px;">
                        info@itcontinental.pro
                    </a>
                </div>
                <div class="col-5 m-left-2r  d-flex">
                    <img class="m-left-10r" src="images/ci_location.svg" alt="">
                    <a href="Ukraine, Kyiv city, St. Mykhailo Lomonosova Street, 73a, 03189 office 159"
                        class="small-text pretify-link  m-left-1r" style="margin-top: 5px;">
                        Ukraine, Kyiv city, St. Mykhailo Lomonosova Street, 73a, 03189 office 159
                    </a>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row d-flex pd-top-2r"></div>
        </div>

    </div>
    <div class="container-fluid eigth-block mb-l-none">
        <h1 class="white-title pd-top-7r pd-bot-4r d-flex justify-content-center">Industries</h1>
        <div class="row mt-2 justify-content-center">
            <div class="col-4 offset-2 industries-block">
                <p class="industries-text">
                    FINANCIAL
                </p>
            </div>
            <div class="col-4 industries-block">
                <p class="industries-text">
                    HEALTHCARE
                </p>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-6 industries-block">
                <p class="industries-text">
                    TECHNOLOGY
                </p>
            </div>
            <div class="col-6 industries-block">
                <p class="industries-text">
                    RETAIL
                </p>
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-6 industries-block">
                <p class="industries-text">
                    TELECOM
                </p>
            </div>
            <div class="col-6 industries-block">
                <p class="industries-text">
                    MANUFACTURING
                </p>
            </div>
        </div>
        <div class="external-blur" style="margin-top: 3rem; padding-top: 5rem;">
            
            <div class=" justify-content-center d-flex">
                <img class="" src="images/footer-big-logo.svg" width="217" height="50" alt="">
            </div>
            <div class="row mt-5 mb-3">
                <div class="d-flex justify-content-center">
                    <h4 class="under-digits-title align-center">
                        Write
                    </h4>
                </div>
            </div>
            <div class="row d-flex justify-space-around">
                <div class="col-12 ">
                    <div class="container d-flex flex-column input-block">

                        <input type="email" size="38" class="mb-3 pretify-input" placeholder="Email" id="email">
                        <textarea rows="3" cols="41" class="pretify-input" placeholder="Guide text" id="guide"></textarea>
                        <div class="row  justify-content-center d-flex">
                            <button onclick="handleForm()" type="reset" class="pretify-button">Send</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row d-flex ">
                <div class="col-3 offset-2" style="margin-top: -3px;">
                    <img class="copyright-image" src="images/copyright.svg" alt="">
                </div>
                <div class="col-1 d-flex" style="margin-top: 2px;">
                    <img class="copyright-image" src="images/mdi_email.svg" alt="">
                    <a href="mailto:info@itcontinental.pro" class="small-text pretify-link m-left-1r"
                        style="margin-top: 5px;">
                        info@itcontinental.pro
                    </a>
                </div>
                <div class="col-5 m-left-2r  d-flex">
                    <img class="m-left-10r" src="images/ci_location.svg" alt="">
                    <a href="Ukraine, Kyiv city, St. Mykhailo Lomonosova Street, 73a, 03189 office 159"
                        class="small-text pretify-link  m-left-1r" style="margin-top: 5px;">
                        Ukraine, Kyiv city, St. Mykhailo Lomonosova Street, 73a, 03189 office 159
                    </a>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row d-flex pd-top-2r"></div>
        </div>

    </div>
</body>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function handleForm() {
        let email = document.getElementById('email').value;
        let guide = document.getElementById('guide').value;
        let data = {
            email,
            guide
        }
        $.ajax({
            url: "https://itcontinental.pro/api/send",
            type: "post",
            data: data,
            success: function (result) {
            },
            error: function (result) {
                console.log(result, "location is bad");
            },
        });
        document.getElementById("email").value = "";
        document.getElementById("guide").value = "";
    }
</script>
</html>