/*!!tag styles*/

body {
    background-color: #000000;
    overflow-x: hidden;
    font-family: 'Gilroy-Bold', sans-serif;
}


/*!!custom layout styles*/

.pd-top-7r {
    padding-top: 7rem;
}

.pd-top-2r {
    padding-top:2rem;
}

.pd-top-10r {
    padding-top: 10rem;
}

.pd-bot-4r {
    padding-bottom: 4rem;
}

.m-top-15r {
    margin-top: 15rem;
}

.m-top-10r {
    margin-top: 10rem;
}

.m-bot-10r {
    margin-bottom: 10rem;
}

.m-bot-6r {
    margin-bottom: 6rem;
}

.m-top-26r {
    margin-top: 26rem;
}

.m-top-8r {
    margin-top: 8rem;
}

.m-left-10r {
    margin-left: 10rem !important;
}

.m-left-1r {
    margin-left: 1rem !important;
}

.m-left-2r {
    margin-left: 2rem !important;
}

.revert-margin-t {
    margin-top: revert !important;
}

.opacity-03 {
    opacity: 0.3;
}

/* .revert-margin-t {
    margin-top: revert!important;
} */


/*!!block styles*/

.first-block {
    border-radius: 40px;
    background-color: #fff;
    z-index: 3;
}

.button-between-ua-en {
    border: none;
    background: transparent;
    margin-left: 2px;
    margin-right: 2px;
    outline: 0ch;
}

.second-block {
    height: 260px;
    margin-top: -15px;
    /* background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.59) 0.01%, rgba(255, 255, 255, 0) 99.5%, rgba(255, 255, 255, 0.59) 99.5%), url(image.png); */
    background-image: linear-gradient(90.01deg, rgba(0, 0, 0, 0.59) 0.01%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.59) 100%), url('./images/block-2.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.third-block {
    height: 450px;
    /* margin-top: -15px; */
    /* background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.59) 0.01%, rgba(255, 255, 255, 0) 99.5%, rgba(255, 255, 255, 0.59) 99.5%), url(image.png); */
    background-color: #000000;
    background-size: 100%;
}

.block-4{
    background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.59) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.59) 100%), url('./images/convience-bg.svg');
    height: 1212px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.fith-block {
    height: 600px;
    background: #FFFFFF;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.7);
    border-radius: 25px 25px 0px 0px;
}


.six-block {
    height: 500px;
    /* margin-top: -15px; */
    /* background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.59) 0.01%, rgba(255, 255, 255, 0) 99.5%, rgba(255, 255, 255, 0.59) 99.5%), url(image.png); */
    background-image: linear-gradient(90.01deg, rgba(0, 0, 0, 0.6) 0.01%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.6) 100%), url('./images/block-6.svg');
    background-size: 101%;
    background-repeat: no-repeat;
}

.seventh-block {
    height: 450px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.7);
    border-radius: 25px;
}

.eigth-block {
    background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.6) 100%), url('./images/block-8-9-bg.svg');
    background-size: 101%;
    background-repeat: no-repeat;
    /* min-height: 1440px; */
}

.nine-block {
    min-height: 330px;
    background: rgba(0, 0, 0, 0.5);
box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.7);
backdrop-filter: blur(118px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 25px 25px 0px 0px;
}

/*!! image styles*/

.diya-image {
    margin-left: 5rem;
    width: 149px;
    height: 72px;
}

.copyright-image {
    width: 330px;
    height: 25px;
}

/*!! text styles*/

.convenience-h3-text {
    font-weight: 600;
    font-size: 50px;
    font-family: 'Gilroy-Bold', sans-serif;
    color:#FFFFFF;
    
}
.convenience-h3 {
    margin-top: 133px;
    margin-bottom: 147px;
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}

.sup-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    /* position: absolute;
    top: 1000px; */
    color: #FFFFFF;
    top: -3em;
}

.white-title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
    
}

.under-digits-title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    color: #FFFFFF;
}

.digits-title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 110px;

    color: #FFFFFF;
}

.anchor-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #000000;
    text-decoration: none;
    margin-top: 6px;
    margin-left:1rem;
    margin-right:1rem;
}

.anchor-text:hover {
    color: #212529!important;
    opacity: 1!important;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}


.small-white-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
}

.text-title-black {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #000000;
}

.gradient-text {
    background: linear-gradient(270deg, #9C60FF 1.28%, #000000 99.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.under-title-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;

    color: #000000;
}

.white-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.grey-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.8);
}

.purple-block-text {
    padding: 43px 66px 43px 66px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */


    color: #FFFFFF;

}

.industries-text {
    /* padding-top: calc((330 - 100%) / 2) 
    84px  calc((330 - 100%) / 2) 84px; */
    margin-top: 62px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

/*!! custom elements styles*/

.write-btn {
    /* identical to box height */
    /* Note: backdrop-filter has minimal browser support */
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* background: rgba(255, 255, 255, 0.27); */
    color: #FFFFFF;
    border-radius: 95px;
    background: linear-gradient(90deg, #030205 0%, #9C5FFE 89.58%);
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */
    width: 164px;
    height: 39px;
    border-radius: 95px;
    backdrop-filter: blur(41.5px);
    /* background:url('../images/write.svg') no-repeat; */

}

.purple-block {
    background: linear-gradient(0deg, rgba(46, 12, 63, 0.6), rgba(46, 12, 63, 0.6)), rgba(242, 88, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */
    height: 117px;
    border-radius: 22px
}


.industries-block {
    margin-left: 2rem;
    width: 330px;
    height: 155px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(85px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.227);
}

.pretify-input {

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(59.7095px);
    /* Note: backdrop-filter has minimal browser support */
    color: white;
    padding: 12px;

    border-radius: 15.4542px;
}

.pretify-button {
    width: 140px;
    height: 40px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(59.6491px);
    /* Note: backdrop-filter has minimal browser support */
    color: white;
    border-radius: 15.4386px;
}

.input-block {
    /* width: 500px; */
}

.pretify-input::-webkit-input-placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14.0351px;
    line-height: 17px;

    color: rgba(255, 255, 255, 0.2);
}
.pretify-input::-moz-placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14.0351px;
    line-height: 17px;

    color: rgba(255, 255, 255, 0.2);

}

.pretify-input::-moz-placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14.0351px;
    line-height: 17px;

    color: rgba(255, 255, 255, 0.2);

}

.pretify-input::-ms-input-placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14.0351px;
    line-height: 17px;

    color: rgba(255, 255, 255, 0.2);

}

.pretify-input::placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14.0351px;
    line-height: 17px;

    color: rgba(255, 255, 255, 0.2);
    /* padding: 12px; */
}

.pretify-link {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);

}


.card  {
    font-size: 12px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 330px;
    height: 311px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #FFFFFF;
    background: rgba(255, 255, 255, 0.15);
    
    opacity: 0.88;
       
}


.cards-block-convenience-1  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    text-align: center;
    
    
    
}

.cards-block-convenience-2  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    margin-bottom: 189px;
    
}

.images-block-convenience {
    top: -4%!important;
    right: 69%!important;
}

.p-card-convenience {
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    color: #FFFFFF;
}
.p-card-convenience2{
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    color: #FFFFFF;
}

.h3-convenience {
    margin-top: 47px;
    margin-left: 30px;
    margin-right: 30px;
    color: #FFFFFF;
}
.h3-convenience-last-card {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 47px;
    color: #FFFFFF;
}

.external-blur{
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(118px);
    /* Note: backdrop-filter has minimal browser support */
    background-size: 100%;
    border-radius: 25px 25px 0px 0px;
}


/* !! animations */

@-webkit-keyframes fadeInFromNone {
    0% {
        opacity: 0.3;
    }

    10% {
        opacity: 0.4;
    }

    30% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        opacity: 0.3;
    }

    10% {
        opacity: 0.4;
    }

    30% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        opacity: 0.3;
    }

    10% {
        opacity: 0.4;
    }

    30% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0.3;
    }

    10% {
        opacity: 0.4;
    }

    30% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

/* !! media 450 styles*/
@media only screen and (min-width:451px){
    .mb-l-none{
        display: none;
    }
}
@media only screen and (max-width:450px){
    
    html {
        background-color: #000000;
        overflow-x: hidden;
        font-family: 'Gilroy-Bold', sans-serif;
    }
    
    body {
        background-color: #000000;
        overflow-x: hidden;
        font-family: 'Gilroy-Bold', sans-serif;
    }


    .mb-d-none{
        display: none;
    }
    .under-title-text{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 300;
        font-size: 15.5358px;
        line-height: 19px;

        color: #000000;

    }
    .text-title-black {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 27.2983px;
        line-height: 33px;

        color: #000000;
    }
    .write-btn{
        width: 205px;
        height: 49px;
        left: 39px;
        top: 582px;

        background: linear-gradient(90deg, #030205 0%, #9C5FFE 89.58%);
        backdrop-filter: blur(15.2198px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 96.3924px;
    }
    .write-btn-text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;

        color: #FFFFFF;
    }
    .first-block{
        border-radius:0px;
        height:700px;
    }
    .second-block {
        height: 165px;
        width: 393px;
    }
    .white-title{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 30.1491px;
        line-height: 37px;
        /* identical to box height */
        color: #FFFFFF;
    }
    .white-text{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 13.3996px;
        line-height: 16px;
        color: #FFFFFF;
    }
    .grey-text{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 13.3996px;
        line-height: 16px;

        color: rgba(255, 255, 255, 0.8);

    }
    .convenience-h3-text{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 30.1491px;
        line-height: 37px;
        /* identical to box height */


        color: #FFFFFF;

    }
}