/*!!tag styles*/
@font-face {
    font-family: "Gilroy-Bold";
    src: url('./gilroy/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Gilroy";
    src: url('./gilroy/Gilroy-Regular.ttf') format('truetype');
}

body {
    background-color: #000000;
    overflow-x: hidden;
    font-family: 'Gilroy-Bold', sans-serif;
}

textarea {
    resize: none;
}

/*!!custom layout styles*/

.pd-top-7r {
    padding-top: 7rem;
}

.pd-top-2r {
    padding-top: 2rem;
}

.pd-top-10r {
    padding-top: 10rem;
}

.pd-bot-4r {
    padding-bottom: 4rem;
}

.m-top-15r {
    margin-top: 15rem;
}

.m-top-10r {
    margin-top: 10rem;
}

.m-bot-10r {
    margin-bottom: 10rem;
}

.m-bot-6r {
    margin-bottom: 6rem;
}

.m-top-26r {
    margin-top: 26rem;
}

.m-top-8r {
    margin-top: 8rem;
}

.m-top-5r {
    margin-top: 5rem;
}

.m-left-10r {
    margin-left: 10rem !important;
}

.m-left-1r {
    margin-left: 1rem !important;
}

.m-left-2r {
    margin-left: 2rem !important;
}

.revert-margin-t {
    margin-top: revert !important;
}

.opacity-03 {
    opacity: 0.3;
}

/* .revert-margin-t {
    margin-top: revert!important;
} */

.mt--2 {
    margin-top: 2rem;
}

/*!!block styles*/
.sep {
    border: 0.5px solid rgba(0, 0, 0, 0.22);
/* transform: rotate(90deg); */
}

.arrows {
    margin-top: -8em;
}

.first-block {
    border-radius: 40px;
    background-color: #fff;
    z-index: 3;
    background-image: url('./images/Line-back.svg');
    background-repeat: no-repeat;
}

.navigation-block {
    justify-content: space-around;
}

.button-between-ua-en {
    border: none;
    background: transparent;
    margin-left: 2px;
    margin-right: 2px;
    outline: 0ch;
}

.second-block {
    height: 260px;
    margin-top: -15px;
    /* background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.59) 0.01%, rgba(255, 255, 255, 0) 99.5%, rgba(255, 255, 255, 0.59) 99.5%), url(image.png); */
    background-image: linear-gradient(90.01deg, rgba(0, 0, 0, 0.59) 0.01%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.027) 100%), url('./images/block-2.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.third-block {
    min-height: 450px;
    /* margin-top: -15px; */
    /* background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.59) 0.01%, rgba(255, 255, 255, 0) 99.5%, rgba(255, 255, 255, 0.59) 99.5%), url(image.png); */
    background-color: #000000;
    background-size: 100%;
}

.block-4 {
    background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.59) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.59) 100%), url('./images/convience-bg.svg');
    min-height: 1042px;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}




.six-block {
    height: 370px;
    /* margin-top: -15px; */
    /* background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.59) 0.01%, rgba(255, 255, 255, 0) 99.5%, rgba(255, 255, 255, 0.59) 99.5%), url(image.png); */
    background-image: linear-gradient(90.01deg, rgba(0, 0, 0, 0.6) 0.01%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.6) 100%), url('./images/block-6.svg');
    background-size: 101%;
    background-repeat: no-repeat;
}

.seventh-block {
    height: 450px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.7);
    border-radius: 25px;
}

.eigth-block {
    background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.6) 100%), url('./images/block-8-9-bg.svg');
    background-size: 101%;
    background-repeat: no-repeat;
    /* min-height: 1440px; */
}

.nine-block {
    min-height: 330px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(118px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 25px 25px 0px 0px;
}

/*!! image styles*/

.diya-image {
    margin-left: 5rem;
    width: 149px;
    height: 72px;
}

.copyright-image {
    width: 330px;
    height: 25px;
}

/*!! text styles*/

.convenience-h3-text {
    font-weight: 600;
    font-size: 50px;
    font-family: 'Gilroy', sans-serif;
    color: #FFFFFF;

}

.convenience-h3 {
    margin-top: 133px;
    margin-bottom: 147px;
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}

.sup-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    /* position: absolute;
    top: 1000px; */
    color: #FFFFFF;
    top: -3em;
}

.white-title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;

}

.under-digits-title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    color: #FFFFFF;
}

.digits-title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 110px;

    color: #FFFFFF;
}

.anchor-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #000000!important;
    
    text-decoration: none;
    margin-top: 6px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.disabled-lang{
    color: #00000049!important;

}
.anchor-text:hover {
    color: #212529 !important;
    opacity: 1 !important;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}


.small-white-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
}

.text-title-black {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #000000;
}

.gradient-text {
    background: linear-gradient(270deg, #9C60FF 1.28%, #000000 99.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.under-title-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;

    color: #000000;
}

.white-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.55);
}

.grey-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.6;
}

.purple-block-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */


    color: #FFFFFF;

}

.industries-text {
    /* padding-top: calc((330 - 100%) / 2) 
    84px  calc((330 - 100%) / 2) 84px; */
    margin-top: 62px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

/*!! custom elements styles*/

.write-btn {
    /* identical to box height */
    /* Note: backdrop-filter has minimal browser support */
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* background: rgba(255, 255, 255, 0.27); */
    color: #FFFFFF;
    border-radius: 95px;
    background: linear-gradient(90deg, #030205 0%, #9C5FFE 100%);
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */
    width: 164px;
    height: 39px;
    border-radius: 95px;
    backdrop-filter: blur(41.5px);
    /* background:url('../images/write.svg') no-repeat; */

}

.external-btn-blur {
    background: rgba(255, 255, 255, 0.27);
    backdrop-filter: blur(41.5px);
    width: 164px;
    height: 39px;
    position: absolute;
    top: -1px;
    left: -1px;
    border-radius: 95px;
    padding-top: 10px;
    z-index: 1;
    -webkit-transform: translateZ(0);
}

.purple-block {
    background: linear-gradient(0deg, rgba(46, 12, 63, 0.6), rgba(46, 12, 63, 0.6)), rgba(242, 88, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */
    height: 115px;
    border-radius: 22px;
    width: 230px;
}


.industries-block {
    margin-left: 2rem;
    width: 289px;
    height: 155px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(85px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.227);
}

.pretify-input {

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(59.7095px);
    /* Note: backdrop-filter has minimal browser support */
    color: white;
    padding: 12px;

    border-radius: 15.4542px;
}

.pretify-button {
    width: 140px;
    height: 40px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(59.6491px);
    /* Note: backdrop-filter has minimal browser support */
    color: white;
    border-radius: 15.4386px;
    margin-top: -22px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    ;
    background: #40305C;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 11px;
        color: #FFFFFF;
}

#email {
    border: 1px solid rgba(255, 255, 255, 0.15);
    ;
    background: #40305C;
    font-family: 'Gilroy-Bold', sans-serif;
}

#guide {
    border: 1px solid rgba(255, 255, 255, 0.15);
    ;
    background: #40305C;
    font-family: 'Gilroy-Bold', sans-serif;
}

.input-block {
    /* width: 500px; */
}

.pretify-input::-webkit-input-placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14.0351px;
    line-height: 17px;

    color: rgba(255, 255, 255, 0.2);
}

.pretify-input::-moz-placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14.0351px;
    line-height: 17px;

    color: rgba(255, 255, 255, 0.2);

}

.pretify-input::-moz-placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14.0351px;
    line-height: 17px;

    color: rgba(255, 255, 255, 0.2);

}

.pretify-input::-ms-input-placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14.0351px;
    line-height: 17px;

    color: rgba(255, 255, 255, 0.2);

}

.pretify-input::placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14.0351px;
    line-height: 17px;

    color: rgba(255, 255, 255, 0.2);
    /* padding: 12px; */
}

.pretify-link {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);

}


.card {
    font-size: 12px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #FFFFFF;
    background: rgba(255, 255, 255, 0.15);

    opacity: 0.88;
    width: 296px;
    height: 296px;
}


.cards-block-convenience-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    text-align: center;



}

.cards-block-convenience-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    margin-bottom: 189px;

}

.images-block-convenience {
    top: -4% !important;
    right: 69% !important;
}

.p-card-convenience {
    margin-top: 11px;
    margin-bottom: 50px;
    margin-left: 26px;
    margin-right: 26px;
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;

}

.p-card-convenience2 {
    margin-top: 11px;
    margin-bottom: 50px;
    margin-left: 26px;
    margin-right: 26px;
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
}

.h3-convenience {
    margin-top: 47px;
    margin-left: 30px;
    margin-right: 30px;
    color: #FFFFFF;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 23px;
text-align: center;
}

.h3-convenience-last-card {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 47px;
    color: #FFFFFF;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 23px;
text-align: center;

}

.external-blur {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(118px);
    /* Note: backdrop-filter has minimal browser support */
    background-size: 100%;
    border-radius: 25px 25px 0px 0px;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    @media {
        .safari_only {
            position: absolute;
            z-index: 20;
            top: 86%;
            left: 9.1%;
            padding-top: 12px;

        }

    }
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {

        .safari_only {
            position: absolute;
            z-index: 20;
            top: 86%;
            left: 9.1%;
            padding-top: 12px;

        }

    }
}

/* !! animations */

@-webkit-keyframes fadeInFromNone {
    0% {
        opacity: 0.3;
    }

    10% {
        opacity: 0.4;
    }

    30% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        opacity: 0.3;
    }

    10% {
        opacity: 0.4;
    }

    30% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        opacity: 0.3;
    }

    10% {
        opacity: 0.4;
    }

    30% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0.3;
    }

    10% {
        opacity: 0.4;
    }

    30% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

/* !! media 450 styles*/
@media only screen and (min-width:601px) {
    .custom-digit-block{
        margin-left:  3.5rem;
        margin-right: 3.5rem;
    }
    .mb-l-none {
        display: none;
    }
    
    .purple-block {
        padding-top: 45px;
        text-align: center;
        margin-left:  1.5rem;
        margin-right: 1.5rem;
    }
    
    .purple-block-white {
        background-color: #ffffff00;
        margin-left:  1.5rem;
        margin-right: 1.5rem;
        height: 115px;
        border-radius: 22px;
        width: 230px;
    }
    
    .fith-block {
        height: 600px;
        background: #FFFFFF;
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.7);
        border-radius: 25px 25px 0px 0px;
    }

    .arrows {
        height: 33px;
        width: 59px;
    }

    .block-footer-1 {
        position: absolute;
        bottom: 1em;
    }

    .block-footer-2 {
        position: absolute;
        bottom: 1em;

    }

    .block-footer-3 {
        position: absolute;
        bottom: 1em;

    }
}
@media only screen and (min-width:601px) and (max-width:1220px) {
    .card {
        font-size: 12px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 50px;
        border-radius: 30px;
        text-align: center;
        border: 1px solid #FFFFFF;
        background: rgba(255, 255, 255, 0.15);
        opacity: 0.88;
        width: 262px;
        height: 262px;
    }
    .block-4{
        background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.6) 100%), url(./images/block-8-9-bg.svg);
        background-repeat: no-repeat;
        background-position-y: 5rem;
        background-size: auto;
    }
    .m-top-3{
        margin-top: 3rem!important;
    }
    .custom-digit-block{
        margin-left: -0.5rem;
        margin-right: 1.5rem;
    }
    .second-block{
        background-position-y: 1rem;
    }
    .industries-block{
        width:212px;
    }
    .fith-block{
        margin-top: -3em;
    }
}
@media only screen and (max-width:600px) {

    html {
        background-color: #000000;
        overflow-x: hidden;
        font-family: 'Gilroy-Bold', sans-serif;

    }

    body {
        background-color: #000000;
        overflow-x: hidden;
        font-family: 'Gilroy-Bold', sans-serif;

    }

    .mb-d-none {
        display: none;
    }

    .external-btn-blur {
        border-radius: 96.3924px;
        position: absolute;
        width: 205px;
        height: 49px;
        top: -2px;
        left: 0.2px;
    }

    .under-title-text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 300;
        font-size: 15.5358px;
        line-height: 19px;

        color: #000000;
        position: absolute;
        width: 313px;
        height: 95px;
        left: 42px;
        top: 339px;
    }

    .text-title-black {
        position: absolute;
        width: 358px;
        height: 66px;
        left: 40px;
        top: 203px;

        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 27.2983px;
        line-height: 33px;

        color: #000000;
    }

    .write-btn {
        position: absolute;
        width: 205px;
        height: 49px;
        left: 37px;
        top: 518px;

        background: linear-gradient(90deg, #030205 0%, #9306b9 100%);
        backdrop-filter: blur(15.2198px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 96.3924px;
    }

    .write-btn-text {
        position: absolute;
        width: 38px;
        height: 18px;
        left: 76.75px;
        top: 12px;

        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;

        color: #FFFFFF;
    }

    .first-block {
        border-radius: 0px;
        height: 686px;
        width: 100%;
        margin-top: -3rem;
        background-image: none;
    }

    .arrows {
        position: absolute;
        width: 128px;
        height: 25.53px;
        left: 155px;
        z-index: 90;
        top: 756px;
    }

    .second-block {
        height: 140px;
        width: 100%;
    }

    .white-title {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 30.1491px;
        line-height: 37px;
        /* identical to box height */
        color: #FFFFFF;
    }

    .white-text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 13.3996px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.55);
    }

    .grey-text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 13.3996px;
        line-height: 16px;

        color: rgba(255, 255, 255, 0.8);

    }

    .convenience-h3-text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 30.1491px;
        line-height: 37px;
        /* identical to box height */


        color: #FFFFFF;
    }

    .diya-image {
        width: 72px;
        height: 35px;
        position: absolute;
        width: 71.82px;
        height: 34.7px;
        left: 161.17px;
        top: 656px;
    }

    .white-title-mobile {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 24.0994px;
        line-height: 30px;
        /* identical to box height */
        position: absolute;
        width: 97px;
        height: 30px;
        left: 98.21px;
        top: 657.89px;

        color: #FFFFFF;
    }

    .header-logo {
        position: absolute;
        width: 225px;
        height: 37.21px;
        left: 39px;
        top: 63px;
    }

    .third-block {
        min-height: 360px;
        width: 100%;
        margin-top: -3rem;
        margin-bottom: -7rem;
    }

    .block-4 {
        min-height: 616px;
        max-width: 100%;
        margin-bottom: -26px;
        box-sizing: content-box;
        background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.59) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.59) 100%), url('./images/block-4-mobile.svg');
    }

    .convenience-h3-text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 30.1491px;
        line-height: 37px;
        color: #FFFFFF;
        margin: -3rem auto 2rem auto;
    }

    .cards-block-convenience-1 {
        justify-content: center;
        margin-left: -15px;
    }

    .pretify-button {
        width: 140px;
        height: 40px;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(59.6491px);
        color: white;
        border-radius: 15.4386px;
        margin-top: -22px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        background: #40305C;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 9px;
        line-height: 11px;
        color: #FFFFFF;
    }

    .card {
        font-size: 12px;
        margin-left: 16px;
        margin-right: 1px;
        margin-bottom: 12px;
        width: 152px;
        height: 152px;
        border-radius: 16.4544px;
        text-align: center;
        border: 1px solid #ffffff63;
        background: rgba(255, 255, 255, 0.15);
        opacity: 0.88;
    }

    .images-block-convenience {
        top: -1% !important;
        right: 59% !important;
        width: 34.01px;
        height: 34.01px;
    }

    .h3-convenience {
        margin-top: 25px;
        margin-left: 0px;
        margin-right: 0px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 10.4211px;
        line-height: 13px;
        text-align: center;

        color: #FFFFFF;
    }

    .p-card-convenience {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 300;
        font-size: 8px;
        line-height: 8px;
        text-align: center;

        color: #FFFFFF;
        margin-top: 8px;
        margin-bottom: 41px;
        margin-left: 0px;
        margin-right: 0px;
        opacity: 0.6;
    }

    .h3-convenience-last-card {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 47px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 300;
        font-size: 6.58182px;
        line-height: 8px;
        text-align: center;
        color: #FFFFFF;
    }

    .external-btn-blur {
        background-color: #00000000;
    }

    .purple-block-mobile {
        /* block-size: auto; */
        background: linear-gradient(0deg, rgba(46, 12, 63, 0.6), rgba(46, 12, 63, 0.6)), rgba(242, 88, 255, 0.15);
        border: 0.50276px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(12.569px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 11.0607px;
        /* padding: 22px 10% 22px 10%; */

    }

    .purple-block-text {
        padding: 0px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 11.569px;
        line-height: 15px;
        /* identical to box height */
        margin-bottom: 0rem;
        color: #FFFFFF;
    }

    .tech-m {
        margin-top: 4.5rem !important;
    }

    .row-tech-m {
        margin-left: -2rem;
    }

    .seventh-block {
        height: 544px;
        width: 100%;
        box-sizing: content-box;
    }

    .eigth-block {
        background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.6) 0.01%, rgba(255, 255, 255, 0) 99.5%, rgba(255, 255, 255, 0.6) 99.5%), url('./images/footer-block-mobile-bg.svg');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .industries-block {
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(38.1212px);
        /* Note: backdrop-filter has minimal browser support */
        width: 132px;
        height: 55px;
        border-radius: 10px;
        margin-left: 10px;
    }

    .industries-text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 11.2121px;
        line-height: 14px;
        /* identical to box height */
        text-align: center;
        color: #FFFFFF;
        margin-top: 21px;
    }

    .under-digits-title {
        text-align: center;
    }

    .six-block {
        min-height: 494px;
        width: 100%;
        background: url('./images/bg-mobile-digits.svg');
    }

    .fith-block {
        min-height: 580px;
        background: url('./images/tecnologies-bg.svg');
        background-size: cover;
    }

    .fith-block-ukr {
        min-height: 580px;
        background: url('./images/tecnologies-bg-ukr.svg');
        background-size: cover;
    }

    .tech-m-block-1 {
        position: absolute;
        width: 134.28px;
        height: 57px;
        left: 65px;
        top: 3145.42px;
    }

    .tech-m-block-2 {
        position: absolute;
        width: 128.85px;
        height: 57.76px;
        left: 213.15px;
        top: 3145.42px;
    }

    .tech-m-block-3 {
        position: absolute;
        width: 143.23px;
        height: 57px;
        left: 65px;
        top: 3212px;
    }


    .tech-m-block-4 {
        position: absolute;
        width: 121.23px;
        height: 55.84px;
        left: 220.77px;
        top: 3212px;
    }

    .tech-m-block-5 {
        position: absolute;
        width: 128.07px;
        height: 57px;
        left: 65px;
        top: 3279.68px;
    }

    .tech-m-block-6 {
        position: absolute;
        width: 136.45999999999998px;
        height: 57px;
        left: 205.54px;
        top: 3279.68px;
    }

    .tech-m-block-7 {
        position: absolute;
        width: 121.03px;
        height: 57px;
        left: 65px;
        top: 3348px;
    }

    .tech-m-block-8 {
        position: absolute;
        width: 142px;
        height: 57px;
        left: 200px;
        top: 3350px;
    }

    .tech-m-block-9 {
        position: absolute;
        width: 144px;
        height: 57px;
        left: 65px;
        top: 3415.26px;
    }

    .tech-m-block-10 {
        position: absolute;
        width: 119.33px;
        height: 57px;
        left: 221.67px;
        top: 3415.26px;

    }

    .tech-m-block-11 {
        position: absolute;
        width: 154px;
        height: 57px;
        left: 65px;
        top: 3484px;

    }

    .tech-m-block-12 {
        position: absolute;
        width: 111.52px;
        height: 57px;
        left: 231.48px;
        top: 3484px;
    }

    .convenience-h3 {
        margin-bottom: 0px;
    }

    .under-digits-title {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
        /* identical to box height */


        color: #FFFFFF;
    }

    .digits-title {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 53.1692px;
        line-height: 65px;
        color: #FFFFFF;
    }

    .small-white-text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 9px;
        text-align: center;
        color: #FFFFFF;
    }

    .sup-text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        /* position: absolute;
        top: 1000px; */
        color: #FFFFFF;
        top: -3em;
    }

    /* Icon 1 */

    .animated-icon1,
    .animated-icon2,
    .animated-icon3 {
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    .animated-icon1 span,
    .animated-icon2 span,
    .animated-icon3 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon1 span {
        background: #2d7ef7;
    }

    .animated-icon2 span {
        background: #e3f2fd;
    }

    .animated-icon3 span {
        background: #f3e5f5;
    }

    .animated-icon1 span:nth-child(1) {
        top: 0px;
    }

    .animated-icon1 span:nth-child(2) {
        top: 10px;
    }

    .animated-icon1 span:nth-child(3) {
        top: 20px;
    }

    .animated-icon1.open span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .animated-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    .animated-icon1.open span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    /* Icon 3*/

    .animated-icon2 span:nth-child(1) {
        top: 0px;
    }

    .animated-icon2 span:nth-child(2),
    .animated-icon2 span:nth-child(3) {
        top: 10px;
    }

    .animated-icon2 span:nth-child(4) {
        top: 20px;
    }

    .animated-icon2.open span:nth-child(1) {
        top: 11px;
        width: 0%;
        left: 50%;
    }

    .animated-icon2.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .animated-icon2.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .animated-icon2.open span:nth-child(4) {
        top: 11px;
        width: 0%;
        left: 50%;
    }

    /* Icon 4 */

    .animated-icon3 span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .animated-icon3 span:nth-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .animated-icon3 span:nth-child(3) {
        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .animated-icon3.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-icon3.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }


    .paragraph-1 {
        position: absolute;
        left: 24px;
        top: 20px;
    }

    .paragraph-2 {
        position: absolute;
        left: 23px;
        top: 20px;
    }

    .paragraph-3 {
        position: absolute;
        left: 18px;
        top: 20px;
    }

    .paragraph-4 {
        position: absolute;
        left: 24px;
        top: 20px;
    }

    .paragraph-5 {
        position: absolute;
        left: 13px;
        top: 20px;
    }

    .paragraph-6 {
        position: absolute;
        left: 27px;
        top: 20px;
    }

    .paragraph-7 {
        position: absolute;
        left: 34px;
        top: 20px;
    }

    .paragraph-8 {
        position: absolute;
        left: 28px;
        top: 20px;
    }

    .paragraph-9 {
        position: absolute;
        left: 21px;
        top: 20px;
    }

    .paragraph-10 {
        position: absolute;
        left: 24px;
        top: 20px;
    }

    .paragraph-11 {
        position: absolute;
        left: 13px;
        top: 20px;
    }

    .paragraph-12 {
        position: absolute;
        left: 24px;
        top: 20px;
    }

    .external-blur {
        backdrop-filter: none !important;
    }

    .pretify-input {
        backdrop-filter: none !important;

    }

    .big-purple {
        opacity: 0.2;
        width: 190px;
        height: 651px;
        position: absolute;
        left: 53%;
        top: 3%;
        object-fit: cover;
        z-index: 0;
        object-position: 19% 0;
    }
    .mail-image{
        height: 14px;
        width: 14px;
        margin-top: 5px;
    }
    .location-image{
        height: 20px;
        width: 41px;
        margin-top: 5px;

    }
}